In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import geojson as gj

In [2]:
# Create DF for LAPD_Divisions_geojson
lapd_file = "../static/data/LAPD_Divisions.geojson"
lapd_df = gpd.read_file(lapd_file)

In [3]:
lapd_df.head(100)

,FID,APREC,PREC,AREA,PERIMETER,SHAPE_Length,SHAPE_Area,geometry
0,1,MISSION,19,6.995826e+08,190817.495739,0.576177,0.006363,"MULTIPOLYGON (((-118.50736 34.33464, -118.5038..."
1,2,DEVONSHIRE,17,1.346816e+09,175591.702871,0.534007,0.012249,"MULTIPOLYGON (((-118.50736 34.33464, -118.5066..."
2,3,FOOTHILL,16,1.297385e+09,203717.879169,0.627755,0.011797,"MULTIPOLYGON (((-118.41581 34.29384, -118.4156..."
3,4,TOPANGA,21,9.090326e+08,155505.795458,0.470165,0.008260,"MULTIPOLYGON (((-118.63166 34.23858, -118.6315..."
4,5,WEST VALLEY,10,9.364057e+08,136316.899694,0.407795,0.008507,"MULTIPOLYGON (((-118.56229 34.22035, -118.5618..."
5,6,NORTH HOLLYWOOD,15,6.346011e+08,187366.252732,0.566582,0.005765,"MULTIPOLYGON (((-118.34264 34.11645, -118.3427..."
6,7,VAN NUYS,9,4.896950e+08,116288.308461,0.347249,0.004449,"MULTIPOLYGON (((-118.47325 34.21651, -118.4731..."
7,8,NORTHEAST,11,8.156022e+08,178460.722082,0.541347,0.007404,"MULTIPOLYGON (((-118.32904 34.15022, -118.3290..."
8,9,HOLLYWOOD,6,3.718353e+08,115808.747099,0.353721,0.003375,"MULTIPOLYGON (((-118.34695 34.11831, -118.3469..."
9,10,WEST LOS ANGELES,8,1.803659e+09,295206.415546,0.897951,0.016368,"MULTIPOLYGON (((-118.51758 34.02506, -118.5176..."
10,11,HOLLENBECK,4,4.330323e+08,111317.952873,0.329096,0.003929,"MULTIPOLYGON (((-118.22649 34.07991, -118.2261..."
11,12,RAMPART,2,1.543954e+08,63585.309548,0.190796,0.001401,"MULTIPOLYGON (((-118.30049 34.09084, -118.2995..."
12,13,WILSHIRE,7,3.270671e+08,100948.314557,0.307986,0.002967,"MULTIPOLYGON (((-118.37617 34.05961, -118.3760..."
13,14,OLYMPIC,20,1.744185e+08,62023.560255,0.186738,0.001582,"MULTIPOLYGON (((-118.32271 34.08351, -118.3222..."
14,15,SOUTHWEST,3,3.433255e+08,102632.208443,0.316321,0.003113,"MULTIPOLYGON (((-118.28402 34.03713, -118.2840..."
15,16,NEWTON,13,2.723760e+08,81476.922847,0.241128,0.002470,"MULTIPOLYGON (((-118.28107 34.00379, -118.2810..."
16,17,PACIFIC,14,7.176129e+08,246934.321606,0.757182,0.006504,"MULTIPOLYGON (((-118.42224 33.91633, -118.4275..."
17,18,77TH STREET,12,3.159590e+08,114137.816270,0.347916,0.002864,"MULTIPOLYGON (((-118.33218 33.99633, -118.3322..."
18,19,SOUTHEAST,18,2.611391e+08,111470.973394,0.327828,0.002366,"MULTIPOLYGON (((-118.29168 33.95950, -118.2916..."
19,20,HARBOR,5,8.928780e+08,272451.139908,0.807721,0.008072,"MULTIPOLYGON (((-118.26739 33.70366, -118.2674..."
20,21,CENTRAL,1,1.367477e+08,64187.406589,0.190474,0.001240,"MULTIPOLYGON (((-118.25196 34.07419, -118.2518..."

In [4]:
# Load json to dataframe
year = '2013' #[2013,2014,2015,2016,2017,2018,2019]
crime_year = f"crime_{year}"
file_to_load = f'../static/data/{crime_year}.json'

crime_df = pd.read_json(file_to_load).T

In [5]:
# # Sanity Checks
# crime_df.head()
# crime_df.groupby('Year').LON.count()
# crime_df.groupby('Year').LON.value_counts()

In [6]:
# Aggregate by Area
grouped_df = crime_df.groupby(['LAPD_Area']).agg({'Crime_Type':['count']}) 
grouped_df.columns = ['Crime_Counts'] 
grouped_df.reset_index(level=['LAPD_Area'],inplace=True)

In [7]:
# # Sanity check data types
# grouped_df.dtypes
# grouped_df.head(100)

    LAPD_Area  Crime_Counts
0           1          6330
1           2          5947
2           3         10126
3           4          5353
4           5          6249
5           6          6684
6           7          6222
7           8          6367
8           9          6800
9          10          6082
10         11          6913
11         12         11097
12         13          7172
13         14          8252
14         15          8220
15         16          5568
16         17          6499
17         18          7567
18         19          7742
19         20          6430
20         21          6845

In [8]:
# Load json to dataframe
year = [2013,2014,2015,2016,2017,2018,2019]

yearArea_df = pd.DataFrame(columns = ['Year', 'LAPD_Area', 'Crime_Counts'])

for y in year:
    crime_year = f"crime_{y}"
    file_to_load = f'../static/data/{crime_year}.json'
    
    crime_df = pd.read_json(file_to_load).T

    # Aggregate by Year and Area
    grouped_df = crime_df.groupby(['Year','LAPD_Area']).agg({'Crime_Type':['count']}) 
    grouped_df.columns = ['Crime_Counts'] 
    grouped_df.reset_index(level=['Year','LAPD_Area'],inplace=True)
    yearArea_df = yearArea_df.append(grouped_df, ignore_index = True)

In [9]:
# yearArea_df.head(100)

In [10]:
# Join grouped_df (crime) with LAPD_divsions - join by area
final_df = yearArea_df.merge(lapd_df, left_on='LAPD_Area', right_on='PREC')
# final_df = lapd_df.merge(grouped_df, left_on='PREC', right_on='LAPD_Area').head()
# final_df.head(100)

,Year,LAPD_Area,Crime_Counts,FID,APREC,PREC,AREA,PERIMETER,SHAPE_Length,SHAPE_Area,geometry
0,2013,1,6330,21,CENTRAL,1,1.367477e+08,64187.406589,0.190474,0.001240,"MULTIPOLYGON (((-118.25196 34.07419, -118.2518..."
1,2014,1,6987,21,CENTRAL,1,1.367477e+08,64187.406589,0.190474,0.001240,"MULTIPOLYGON (((-118.25196 34.07419, -118.2518..."
2,2015,1,8880,21,CENTRAL,1,1.367477e+08,64187.406589,0.190474,0.001240,"MULTIPOLYGON (((-118.25196 34.07419, -118.2518..."
3,2016,1,9279,21,CENTRAL,1,1.367477e+08,64187.406589,0.190474,0.001240,"MULTIPOLYGON (((-118.25196 34.07419, -118.2518..."
4,2017,1,10306,21,CENTRAL,1,1.367477e+08,64187.406589,0.190474,0.001240,"MULTIPOLYGON (((-118.25196 34.07419, -118.2518..."
...,...,...,...,...,...,...,...,...,...,...,...
95,2017,14,10006,17,PACIFIC,14,7.176129e+08,246934.321606,0.757182,0.006504,"MULTIPOLYGON (((-118.42224 33.91633, -118.4275..."
96,2018,14,10291,17,PACIFIC,14,7.176129e+08,246934.321606,0.757182,0.006504,"MULTIPOLYGON (((-118.42224 33.91633, -118.4275..."
97,2019,14,10496,17,PACIFIC,14,7.176129e+08,246934.321606,0.757182,0.006504,"MULTIPOLYGON (((-118.42224 33.91633, -118.4275..."
98,2013,15,8220,6,NORTH HOLLYWOOD,15,6.346011e+08,187366.252732,0.566582,0.005765,"MULTIPOLYGON (((-118.34264 34.11645, -118.3427..."
99,2014,15,7902,6,NORTH HOLLYWOOD,15,6.346011e+08,187366.252732,0.566582,0.005765,"MULTIPOLYGON (((-118.34264 34.11645, -118.3427..."

In [11]:
# creating function to output a geojson format
def data2geojson(df, filename):
    features = []
    insert_features = lambda X: features.append(
            gj.Feature(geometry=X["geometry"],
                       #gj.Point((X["LON"],X["LAT"])),  ## old code and no longer needed
                            properties=dict(crime_counts=X["Crime_Counts"])))
    df.apply(insert_features, axis=1)
    with open(filename, 'w', encoding='utf8') as fp:
        gj.dump(gj.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)

In [13]:
outputFilePath = '../static/data/'
outputFileName = 'crime'
dispFileName = f'{outputFilePath}{outputFileName}.geojson'

data2geojson(final_df, dispFileName)